
.content {
  padding: 10px;
}

.content > mat-card {
  width: 200px;
}

mat-card:hover {
  background-color: #1976d2;
  color:white;
  cursor: pointer;
}

.mat-card-content{
  text-align: center;
  font-size: 40px;
}
.mat-card-title {
  text-align: center;
  font-size:20px;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

*:focus {
  outline: none !important;
  border: 0 !important;
}
