h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.view{
  margin-top:40px;
  height:98%;
  width: 100%;
  /* background-color:#f9fbfe; */
}

.toolbar img {
  margin: 0 16px;
  cursor: pointer;
}


